@import "common/normalize";
@import "common/variables";
@import "common/main-header";
@import "common/page-h1";
@import "common/hor-line";
@import "catalog/product-item";
@import "common/button";
@import "catalog/showMore-items";
@import "catalog/cross";
@import "catalog/additional-products";
@import "catalog/additional-product";
@import "common/contacts";
@import "common/map";
@import "common/footer";
@import "catalog/product-item-container";
@import "common/fonts";
@import "form/form-input";
@import "form/form-goal";
@import "form/form-flex-wrapper";
@import "common/line-styled";
@import "form/contact-data";
@import "form/animal-comments";
@import "form/additional-options";
@import "common/send-button-block";
@import "index/functional-food";
@import "index/weight-option";
@import "index/how-it-works-list";
@import "index/live-example";

body {
    font-family: Oswald;
}
.w-100{
    width: 100%;
}
.wrapper {
    max-width: $tablet-width;
    margin: 0 auto;
}
.container {
    padding: 0 25px;
    margin: 0 auto;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
.nav__links {
    text-decoration: none;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
    ;
}
.nav_hidden {
    display: flex;
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
    .container {
        max-width: 708px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1300px) {
    .wrapper {
        width: 1300px;
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
    .container {
        width: 1220px;
        max-width: 1220px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}
