.map-container {
    height: 400px;
    width: 100%;
    display: flex;
    position: relative;
    min-width: 280px;
}
.map {
    flex-grow: 1;
    background: url(../img/map.png)no-repeat;
    background-position: center;
    background-size: cover;
}
.map__logo-pointer {
    background: url(../img/map-pin.png%2050%25.png) no-repeat;
    height: 52px;
    width: 52px;
    position: absolute;
    top: 44%;
    left: 45%;
}
@media (min-width:768px) {
    .map {
        background: url(../img-tablet/map.png)no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media (min-width:1300px) {
    .map-container {
        margin-top: 50px;
    }
    .map {
        background: url(../img-desktop/map.png)no-repeat;
        background-position:center;
    }
    .map__logo-pointer {
    background: url(../img/map-pin.png%2050%25.png) no-repeat;
    height: 52px;
    width: 52px;
    position: absolute;
    top: 54%;
    left: 70.5%;
}
}
