.page-h1 {
width: 100%;
font-size: 36px;
line-height: 60px;
color: rgb(17,17,17);
text-align: center;
    
}
.page-h1 + p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
@media (min-width:768px) {
	.page-h1 {
		font-size: 60px;
		text-align: left;
	}
    .page-h1 + p{
        text-align: left;
    }
}
