@import "normalize";
@import "main-header";
@import "page-h1";
@import "variables";
@import "hor-line";
@import "product-item";
@import "button";
@import "showMore-items";
@import "cross";
@import "additional-products";
@import "additional-product";
@import "contacts";
@import "map";
@import "footer";
@import "product-item-container";
@import "fonts";
@import "form-input";
@import "form-goal";
@import "form-flex-wrapper";
@import "line-styled";
@import "contact-data";
@import "animal-comments";
@import "additional-options";
@import "send-button-block";
@import "functional-food";
@import "weight-option";
@import "how-it-works-list";
@import "live-example";

body {
    font-family: Oswald;
}
.wrapper {
    max-width: 320px;
    margin: 0 auto;
}
.container {
    max-width: 280px;
    padding: 0 5%;
    margin: 0 auto;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
.nav__links {
    text-decoration: none;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
    ;
}
.nav_hidden {
    display: flex;
}
@media (min-width: 320px) {
    .wrapper {
        max-width: 768px;
        margin: 0 auto;
    }
    .container {
        max-width: 708px;
        margin: 0 auto;
    }
}
@media  (min-width: 768px) {
    .wrapper {
        max-width: 1299px;
        margin: 0 auto;
    }
    .container {
        min-width: 708px;
        margin: 0 auto;
    }
}
@media (min-width: 1300px) {
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
    .container {
        max-width: 1300px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}
