.weight-option {
    height: 305px;
    width: 280px;
    margin: 0 auto;
    background-color: #F2F2F2;
    margin-top: 25px;
    padding: 20px;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
.weight-option__header {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
    padding: 20px 0;
}
.weight-option__icon {
    background: url(../img/Ellipse%201%20copy.png)no-repeat;
    height: 55px;
    width: 55px;
    background-position: center;
    position: relative;
}
.puma-seat::before {
    content: "";
    position: absolute;
    display: block;
    height: 50px;
    width: 36px;
    background: url(../img/Vector%20Smart%20Object.png) no-repeat;
    top: -2px;
    left: 13px;
}
.puma-walk::before {
    content: "";
    position: absolute;
    display: block;
    height: 33px;
    width: 72px;
    background: url(../img/Vector%20Smart%20Object%20copy%202.png) no-repeat;
    top: 14px;
    left: -6px;
}
.weight-option__h2 {
    align-self: auto;
    margin-left: 20px;
}
.weight-option__text {
    width: 235px;
    height: 108px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(68, 68, 68);
    font-family: "Arial";
    margin-top: 10px;
}
.weigth-option__href {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}
.weigth-option__href a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: black;
    top: 8px;
    left: 120px;
}
.weigth-option__href a::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 10px solid black;
    top: 4px;
    left: 140px;
}
.weigth-option__href a {
    text-decoration: none;
    color: black;
    padding-right: 50px;
}
@media(min-width: 768px) {
    .weight-option {
        width: 100%;
        padding-left: 50px;
    }
    .weight-option__icon {
        background: url(../img-tablet/Ellipse%201%20copy.png)no-repeat;
        position: absolute;
        top: 40px;
        left: 423px;
        height: 200px;
        width: 200px;
    }
    .puma-seat::before {
        content: "";
        position: absolute;
        display: block;
        height: 195px;
        width: 145px;
        background: url(../img-tablet/cat-seat.svg) no-repeat;
        top: -8px;
        left: 33px;
    }
    .puma-walk::before {
        content: "";
        position: absolute;
        display: block;
        height: 113px;
        width: 270px;
        background: url(../img-tablet/cat-walk.svg) no-repeat;
        top: 38px;
        left: -36px;
    }
    .weight-option__text {
        width: 340px;
        font-size: 16px;
        line-height: 24px;
    }
    .weight-option__hr {
        display: none;
    }
    .weight-option__h2 {
        font-size: 36px;
        line-height: 37px;
        margin-left: 0;
    }
    .second {
        width: 300px;
    }
    .weigth-option__href {
        font-size: 20px;
        line-height: 20px;
    }
}
@media (min-width: 1300px) {
    .weight-option-flex-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .weight-option {
        width: 570px;
        height: 370px;
        position: relative;
    }
    .weight-option__text,
    .second {
        width: auto;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .weight-option__icon {
        background: url(../img-desktop/Ellipse%201.png)no-repeat;
        height: 100px;
        width: 102px;
        background-position: center;
        position: relative;
        top: 0;
        left: 0;
        margin-right: 65px;
    }
    .puma-seat::before {
        content: "";
        position: absolute;
        display: block;
        height: 97px;
        width: 70px;
        background: url(../img-desktop/cat-seat.svg) no-repeat;
        top: -6px;
        left: 16px;
    }
    .puma-walk::before {
        content: "";
        position: absolute;
        display: block;
        height: 56px;
        width: 134px;
        background: url(../img-desktop/cat-walk.svg) no-repeat;
        top: 22px;
        left: -16px;
    }
    .weigth-option__href{
        margin-top:0;
    }
}
