@media (min-width:$tablet-width) {
	.product-item-container {
		display: flex;
		flex-direction:row;
		justify-content:space-between;
		flex-wrap: wrap;
	}

}
@media (min-width:$desktop-width) {
	.product-item-container {
		display: flex;
		flex-direction:row;
		justify-content:space-between;
		flex-wrap: wrap;
	}

}
