@media (min-width:768px) {
	.product-item-container {
		display: flex;
		flex-direction:row;
		justify-content:space-between;
		flex-wrap: wrap;
	}

}
@media (min-width:1300px) {
	.product-item-container {
		display: flex;
		flex-direction:row;
		justify-content:space-between;
		flex-wrap: wrap;
	}

}
