.map-container {
    min-height: 350px;
    width: 100%;
    display: flex;
    position: relative;
    min-width: 280px;
    overflow: hidden;
}
.map {
    flex-grow: 1;
    background: url(../img/map.png)no-repeat;
    background-position: center;
    background-size: cover;
}

iframe{
    width: 100%;
    position: relative;
}
@media (min-width:$tablet-width) {
    iframe{
        width: 100%;
        position: relative;
    }

@media (min-width:$desktop-width) {
    iframe{
        width: 1350px;
        margin-left: -25px;
        z-index: 0;
        position: relative;
    }
    .map-container{
       width: 1350px;
        margin-left: -25px;
        overflow: hidden;
    }

}}
