.send-button-block {
    margin: 30px 0;
    margin-bottom: 50px;
}
.send-button-block__info {
    text-align: center;
    padding: 10px;
}
@media (min-width: $tablet-width) {
    .send-button-block {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .send-button-block__button {
        margin: 0px 0px;
    }
}
@media (min-width: $desktop-width) {
    .send-button-block {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .send-button-block__info {
        justify-content: flex-start;
    }
    .send-button-block__button {
        max-width: 550px;
        margin-right: 70px;
    }
}
